 body {
     width: 1750px;
     margin: 100px;

 }

 a:link {
     color: crimson;
 }

 a:visited {
     font-style: oblique;
 }

 a:hover {
     font-size: 45px;
 }

 a:active {
     color: rgb(194, 243, 121);
 }

 header>#left-side h1:first-child {
     text-align: center;
     margin: 0px 100px;
 }

 nav.center-1>ul>li {
     display: inline;
     width: 900px;
     padding: 0px 15px;
     font-size: 30px;
     background-color: rgb(238, 165, 97);
 }

 header {
     width: 1750px;
     background-color: antiquewhite;
     margin: 50px
 }

 section#one {
     width: 1300px;
     background-color: rgb(172, 172, 168);
 }

 nav.center-center {
     display: block;
     margin: 0px auto;
     width: 1500px;
     background-color: #ff7f50;
 }

 nav.right-center>p>figure>img {
     display: inline;
 }

 nav.center-left>ul li {
     display: inline;
     padding: 20px;
     font-size: 30px;
     background-color: rgb(241, 180, 160);
 }

 nav.center--1>ul>li {
     display: inline;
     width: 1200px;
     padding: 5px;
     background-color: rgb(255, 200, 181);
 }

 hr {
     width: auto;
     height: 5px;
     color: gray;
 }

 p {
     font-size: xx-large;
     font-style: italic;
     font-family: 'Times New Roman', Times, serif;
     font-variant: small-caps;
     background-color: rgb(202, 156, 224);
 }

 p.center {
     text-align: center;
 }

 img.center {
     position: relative;
     left: 450px;
     width: 400px;

 }

 img.center-2 {
     position: relative;
     left: 150px;
     width: 1000px;

 }

 aside.right {
     width: 450px;
     position: absolute;
     left: 1450px;
     top: 450px;
 }